<h2>Registration</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, harum nisi iure consequuntur repellendus est numquam blanditiis laboriosam incidunt earum minima. Ex quos incidunt molestiae in necessitatibus id deleniti porro.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima animi voluptatibus quam illo? Porro ut eius ea, ab omnis quis tempora odio accusamus atque animi tempore cupiditate, necessitatibus ad quas?
</p>

<br />

<!-- This form is 1Password compatible. -->
<form name="signupForm" class="form-horizontal" ng-submit="register(user)">
  <fieldset>
    <legend>Sign Up For a New Account!</legend>

    <div class="form-group">
      <div class="large-12 columns">
        <label class="col-md-2 control-label" for="username">User name</label>
        <div class="col-md-4">
          <input type="text" class="form-control input-md" id="username" ng-model="user.username" placeholder="Pick a user name. Alphanumeric characters only." minlength="3" ng-pattern="/^\w+$/" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="large-12 columns">
        <label class="col-md-2 control-label" for="password">Password</label>
        <div class="col-md-4">
          <input type="password" class="form-control input-md" id="password" ng-model="user.password" placeholder="Pick a password with at least 6 characters in it." minlength="6" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <!--
      Notice that the confirmation isn't on user. We only validate
      that those match and that's it, we don't pass it any further.
      -->
      <label class="col-md-2 control-label" for="passwordConfirmation">Confirm password</label>
      <div class="col-md-4">
        <input type="password" class="form-control input-md" id="passwordConfirmation" ng-model="passwordConfirmation" placeholder="The same password again." required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="tocReadConfirmation">Terms and Conditions</label>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" id="tocReadConfirmation">
          </span>
          <label class="form-control input-md" style="font-weight: normal;" for="tocReadConfirmation">
            I confirm that I read and understood.
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2 control-label"></div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-success" ng-disabled="signupForm.$invalid">Register!</button>
      </div>
    </div>
  </fieldset>
</form>
