<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, harum nisi iure consequuntur repellendus est numquam blanditiis laboriosam incidunt earum minima. Ex quos incidunt molestiae in necessitatibus id deleniti porro.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima animi voluptatibus quam illo? Porro ut eius ea, ab omnis quis tempora odio accusamus atque animi tempore cupiditate, necessitatibus ad quas?
</p>

<br />

<form name="signupForm" class="form-horizontal" novalidate ng-submit="register(user)">
  <fieldset>
    <legend>Sign Up For a New Account!</legend>

    <div class="form-group">
      <div class="large-12 columns">
        <label class="col-md-2 control-label" for="username">User name</label>

        <div class="col-md-4">
          <input
            type="text"
            name="username"
            class="form-control input-md"
            id="username"
            ng-model="user.username"
            placeholder="Pick a user name. No spaces."
            ng-model-options="{updateOn: 'blur', debounce: 'blur'}"
            ng-minlength="3"
            ng-pattern="/^[\w\d-@]+$/"
            unique
            required />

          <!-- Validation messages. -->
          <div class="errors">
            <p ng-show="signupForm.username.$error.minlength" class="help-block error">Username has to be longer than 3 characters.</p>
            <p ng-show="signupForm.username.$error.pattern" class="help-block error">Username has to contain only alphanumeric characters, dash or the at sign.</p>
            <p ng-show="signupForm.username.$error.unique" class="help-block error">This user name is already taken, sorry.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="large-12 columns">
        <label class="col-md-2 control-label" for="password">Password</label>

        <div class="col-md-4">
          <input
            type="password"
            name="password"
            id="password"
            class="form-control input-md"
            ng-model="user.password"
            ng-model-options="{updateOn: 'blur', debounce: 'blur'}"
            placeholder="Pick a password with at least 6 characters in it."
            minlength="6"
            required />

          <!-- Validation messages. -->
          <div class="errors">
            <p ng-show="signupForm.password.$error.minlength" class="help-block error">Username has to be longer than 3 characters.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <!--
      Notice that the confirmation isn't on user. We only validate
      that those match and that's it, we don't pass it any further.
      -->
      <label class="col-md-2 control-label" for="passwordConfirmation">Confirm password</label>

      <div class="col-md-4">
        <!--
        Here, notice that we cannot rely on blur, since the next blur
        will be very likely connected with a click to the submit button
        which would otherwise be disabled. Dammit, this shit used to be
        easy when we had no choices of working out JS magic :)
        -->
        <input
          type="password"
          name="passwordConfirmation"
          id="passwordConfirmation"
          class="form-control input-md"
          ng-model="user.passwordConfirmation"
          ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, blur: 0}}"
          placeholder="The same password again."
          value-match="password"
          required />

        <!-- Validation messages. -->
        <div class="errors">
          <p ng-show="signupForm.passwordConfirmation.$error.valueMatch" class="help-block error">Password doesn't match the confirmation.</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <p>
          <em>By registering you accept our <a href ng-click="showTC()">terms and conditions</a>.</em>
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2 control-label"></div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-success" ng-disabled="signupForm.$invalid">Register!</button>
      </div>
    </div>
  </fieldset>
</form>
