<div class="modal-header">
  <h3 class="modal-title">Terms &amp; Conditions</h3>
</div>

<div class="modal-body">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio perferendis sunt amet deleniti in, tempore natus sequi ad, repudiandae fugiat dolor incidunt. Doloribus itaque nobis dignissimos sequi. Deserunt maiores, architecto!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In saepe eligendi corrupti vitae, aliquid sapiente maiores nihil provident, at architecto, eaque nesciunt dignissimos rem, cumque laborum necessitatibus repellat sequi repellendus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam vero minus et harum, quidem odit! Nemo tenetur eaque amet, similique aliquid sint voluptate quidem cupiditate, architecto nam earum quae rem.</p>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="closeModal()">OK</button>
</div>
